html, body, #app{
  height: 100%;
  padding: 0;
  margin: 0;
}
.el-pagination{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
/* el-card css样式 */
.box-card{
  margin-top: 20px;
}